{{#general_title}}
{{{title}}}
{{#title_chars}}={{/title_chars}}
{{/general_title}}
{{#versions}}

{{{label}}}
{{#label_chars}}-{{/label_chars}}
{{#sections}}
{{#commits}}
- {{{subject}}} ({{commit.sha1_short}}) [{{{author_names_joined}}}]
{{/commits}}
{{/sections}}
{{/versions}}
